---
layout: default
title: Finding My New Home - João Pedro Netto - Entrepreneur
cover: 'assets/images/cover-jp-2.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/bean-white.png'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner" style="-webkit-font-smoothing: antialiased; -webkit-backface-visibility: hidden;">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main" style="-webkit-font-smoothing: antialiased; -webkit-backface-visibility: hidden;">
    <article class="post">
        <!-- Everything inside the #post tags pulls data from the post -->

        <header class="post-header">
            <h1 class="post-title">About</h1>
        </header>

        <section class="post-content">
            <p>
              Ruby, Node.js and PHP are my allies when working with backend.<br>
              Angular is my friend in projects that need a zen workflow.<br>
              Ionic and progressive web apps are my superheros for faster mobile results.
            </p>
        </section>

        <section class="post-content">
            <h2>Experience</h2>
            <ul>
                <li>CEO @ locomotiva.ml</li>
                <li>CTOaaS @ luztr</li>
                <li>CTO @ Encontre um Nerd</li>
                <li>Developer @ LEFOODING</li>
                <li>Ruby OSS Developer @ spreesso</li>
                <li>Cofounder @ minestore</li>
                <li>Developer @ ateliware</li>
                <li>Developer @ eCompleto</li>
            </ul>
        </section>

        <section class="post-content">
          <h3>Get In Touch</h3>
          <p>Short messages via Twitter are my preferred contact method. For
              anything longer, email me.</p>
              <ul class="list-unstyled">
                  <li>
                      <a class="fa fa-twitter" href=
                      "https://twitter.com/jnettome"><span class=
                      "label">Twitter</span></a>
                  </li>
                  <li>
                      <a class="fa fa-github" href=
                      "https://github.com/jnettome"><span class=
                      "label">Github</span></a>
                  </li>
                  <li>
                      <a class="fa fa-linkedin" href=
                      "https://linkedin.com/in/joaonettome"><span class=
                      "label">Linkedin</span></a>
                  </li>
                  <li>
                      <a class="fa fa-envelope-o" href=
                      "mailto:hi@joaonetto.me"><span class="label">Email</span></a>
                  </li>
              </ul>

        <p style="text-align:center;">© 2011-2016</p>
        </section>

    </article>



</main>
